body {
    display: flex;
    height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
}

img {
    width: 24px;
}

.perfil {
    border-radius: 50%;
    border: 2px solid var(--text-color);
}

.navbar {
    display: flex;
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0px;
    border-top: 1px solid white;

}

.navbar__container {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.navbar__item {
    display: flex;
    padding: 12px;
    gap: 1rem;
}

.navbar__more,
.navbar__logo,
.navbar__isotype,
.navbar__item--hidden,
.navbar__text--hidden {
    display: none;
}

/*------------------------------*\
        #RESPONSIVE
\*------------------------------*/

@media (min-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 100%;
        width: auto;
        justify-content: space-between;
        border-right: 1px solid white;
        border-top: none;
    }

    .navbar__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__more,
    .navbar__logo,
    .navbar__item--hidden {
        display: flex;
        object-fit: contain;
    }

    .navbar__more,
    .navbar__brand {
        display: flex;
        justify-content: flex-start;
        padding: 12px;
        gap: 1rem;
    }
}

@media (min-width: 1264px) {
    .navbar__text--hidden {
        display: flex;
    }

    .navbar__isotype {
        display: flex;
        width: 80px;
        margin-bottom: -5px;
    }
}

/*------------------------------*\
        #ANIMATION
\*------------------------------*/

.navbar__menu-icon:hover,
.navbar__item:hover,
.navbar__brand:hover {
    transition: transform 150ms;
    transform: scale(1.05);
}

/*------------------------------*\
        #ACCESSIBILITY
\*------------------------------*/

.navbar__item:focus {
    outline: 2px solid var(--text-color);
    outline-offset: 2px;
}

.navbar__item:focus {
    transform: scale(1.05);
}

/*------------------------------*\
        #DARKMODE
\*------------------------------*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--text-color);
    }

    .navbar__more,
    .navbar__brand,
    .navbar__icon:not(.perfil),
    .navbar__item .navbar__text {
        filter: invert(1);
    }

    .perfil {
        border: 2px solid var(--bg-color);
    }

    .navbar {
        border-right: 1px solid var(--bg-color);
    }

    .navbar__item:focus {
        outline: 2px solid var(--bg-color);
    }
}
