body {
    display: flex;

    height: 100vh;

    background: var(--white);

    color: var(--black);
    font-family: var(--font);
}

.main {
    display: flex;

    width: 100vw;

    justify-content: center;
    align-items: center;
}

.main__logo img{
    width: 16vw;
    object-fit: contain;
}

.main__tablet-image,
.main__desktop-image {
    display: none;
}

img {
    width: 24px;
}

.navbar {
    position: fixed;
    bottom: 0px;

    display: flex;

    width: 100%;

    padding: 1rem;

    border-top: 1px solid var(--white);
}

.navbar__container {
    justify-content: space-between;
    display: flex;
    gap: 10px;

    width: 100%;
}

.navbar__item {
    display: flex;
    gap: 1rem;

    padding: 12px;
}

.perfil {
    border-radius: 50%;
    border: 1.5px solid var(--black);
}

.navbar__more,
.navbar__logo,
.navbar__isotype,
.navbar__item--hidden,
.navbar__text--hidden {
    display: none;
}

/*------------------------------*\
        #RESPONSIVE
\*------------------------------*/

@media (min-width: 768px) {
    .main__mobile-image {
        display: none;
    }

    .main__tablet-image {
        display: flex;
    }

    .navbar {
        flex-direction: column;
        justify-content: space-between;

        height: 100%;
        width: auto;
  
        border-right: 1px solid var(--black);
        border-top: none;
    }

    .navbar__container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar__more,
    .navbar__logo,
    .navbar__item--hidden {
        display: flex;

        object-fit: contain;
    }

    .navbar__more,
    .navbar__brand {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;

        padding: 12px;
    }
}

@media (min-width: 1264px) {
    .main__mobile-image,
    .main__tablet-image {
        display: none;
    }

    .main__desktop-image {
        display: flex;
    }

    .navbar__text--hidden {
        display: flex;
    }

    .navbar__isotype {
        display: flex;

        width: 80px;

        margin-bottom: -5px;
    }
}

/*------------------------------*\
        #ANIMATION
\*------------------------------*/

.navbar__menu-icon:hover,
.navbar__item:hover,
.navbar__brand:hover {
    transition: transform 150ms;
    transform: scale(1.05);
}

/*------------------------------*\
        #ACCESSIBILITY
\*------------------------------*/

.navbar__item:focus {
    outline: 2px solid var(--black);
    outline-offset: 2px;
}

.navbar__item:focus {
    transform: scale(1.05);
}

/*------------------------------*\
        #DARKMODE
\*------------------------------*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black);
    }

    .navbar {
        border-right: 1px solid var(--white);
    }

    .navbar__item:focus {
        outline: 2px solid var(--white);
    }

    .navbar__more,
    .navbar__brand,
    .navbar__icon:not(.perfil),
    .navbar__item .navbar__text {
        filter: invert(1);
    }

    .perfil {
        border: 1.5px solid var(--white);
    }
}
